/* --------------------------
General Styles 
----------------------------- */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
  body,
  html {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: sans-serif;
    padding: 10px 20px;
    line-height: 1.6;
   }

  h3 {
      position: relative;
      top: 18px;
      text-align: center;
    }

  .header-nav ul {
     margin: 0;
     padding: 0;
     display: flex;
     list-style: none;
    }

  .header-nav a {
     color: #a7a7a7;
     margin-right: 10px;
     font-size: 0.9rem;
   }

  .header-nav a.active {
     color: #222;
    }

  #prompt {
      position: relative;
      top: 20px;
      width: 94%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: vertical;
      overflow: auto;
    }

  button {
      position: relative;
      top: 2px;
      width: 60px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      color: blue;
      font-size: 16px;
    }


  